@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Serif+KR&display=swap');
* {
    box-sizing: border-box; 
}
body, h1, h2, h3, h4, h5, h6, p, ul, li, img{
    margin: 0px;
    padding: 0;
    border: 0px;
    font: inherit;
}
article, aside, footer, header, nav, section {
    display: block; 
}
body{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    color: #fafbfc;
    background-color: #101010;
}
h1, h2, h3, h4, h5, h6 {
    color: #feeeee;
    font-weight: 700;
    line-height: 1.3;

}
h1{
    font-size: 3.8em;
}
h2 {
    font-size: 3.2em; }
  
h3 {
    font-size: 2.6em; }
  
h4 {
    font-size: 2em; }
  
h5 {
    font-size: 1.6em; }
  
h6 {
    font-size: 1em; }
ol,ul{
    list-style: none;
}
ul li {
    padding-left: 0.5em;
}
#ConList li{
    margin: 0 0 15px 35px;
    font-size: 16px;
}
a {
    border-bottom: dotted 1px;
    color: #fafbfc;
    text-decoration: none;
}
    a:hover {
        border-bottom-color: #f56a6a;
        color: #f56a6a !important; 
    }


/*icons*/

ul.icons {
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding: 0 0.5em 0 0.5em; 
    border-right: 2px solid #d1d1d1;
}
ul.icons li:last-child {
    padding-right: 0; 
    border-right: 0;
    margin-right: 10px;
}
#_list {
    margin: 10px 0 0 10px;
}

/*image*/
img{
    border: 0;
    display: inline-block;
    position: relative;
}
.img_main{
    border-radius: 0.375em;
    max-width: 650px;
    box-shadow: 1px 1px 5px #a1a2a3;
    margin: 0.5rem 0 1em 0;
    z-index: 2;
}
.box1 { /*기본 박스*/
    width: 800px;
    height: 440px;
    position: relative;
}
.box2 { /*좀더 큰*/
    width: 800px;
    height: 630px;
    position: relative;
}
.box3 { /*세로로 긴*/
    width: 800px;
    height: 425px;
    position: relative;
}
.box4 { /*중간사이즈*/
    width: 800px;
    height: 480px;
    position: relative;
}
.box5 { /*중간사이즈2*/
    width: 800px;
    height: 540px;
    position: relative;
}
.box6 { /*작은사이즈*/
    width: 800px;
    height: 280px;
    position: relative;
}
.imgpos{
    position: absolute;
    width: 400px;
    border: 1px solid #a1a2a3;
}
/*map image*/

#imghd {
    position: relative;
    width: inherit;
    overflow: hidden;
}
#mapbox {
    margin: 10px 60px 0 0;
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 316px;
    float: right;
    border: 2px solid #fafbfc55;
    border-radius: 10px;
}
#img_map {
    position: absolute;
    width: 280px;
    height: 316px;
    z-index: 1;
    transition: all 1.5s;
}
#mapbox[name="hukuoka"]:hover #img_map{
    transform: scale(2);
    top: -200px;
    right: -140px;
}
#mapbox[name="osaka"]:hover #img_map {
    transform: scale(2);
    top: -150px;
    right: -50px;
}
#mapbox[name="Tokyo"]:hover #img_map {
    transform: scale(2);
    top: -100px;
    right: 30px;
}
#mapbox[name="HokkaiDo"]:hover #img_map {
    transform: scale(2);
    top: 140px;
    right: 110px;
}
/*wrap*/

#wrap{
    height: 100%;
}
#wrap > #inner {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 0;
    }

/*header*/

#header_main{
    height: 100vh;
    margin: 0 auto;
    border-bottom: solid 8px #f56a6a;
    padding: 0 0 4em 0;
    position: relative;
    background-image: url(./images/bg_japan.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}
#head_box {
    width: 500px;
    height: 40vh;
    margin: 20vh auto 0 auto;
    border: 4px solid #feeeee;
    background-color: #000000aa;
    position: relative;
    transition: all 1s;
}
#head_box:hover {
    transform: scale(1.05);
}
.box>h1, .box>p {
    margin: 20px 0 20px 0;
    text-align: center;
}
#head_box .box {
    width: 360px;
    height: 200px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-180px;
    margin-top:-100px;
}
#header_content{
    margin: 0 auto;
    border-bottom: solid 5px #f56a6a;
    padding: 0 0 11.5em 0;
    position: relative;
}
#header_bg {
    background-image: url(./images/bg_header_content_japan.png);
    background-repeat: no-repeat;
    background-size: cover ;
    width: 100%;
    height: 296.6px;
    position: absolute;
    filter: blur(3px);
}

/*nav*/

#nav{
    position: relative;
    overflow: hidden;
    width: 94%;
    margin: 0 auto;
    background-color: #000000aa;
    padding: 18px 5px 38px 5px;
    font-family: 'Jua', sans-serif;
    font-size: 1.1em;
}
/*neon effect*/
@keyframes neon {
	from {
		text-shadow: 0 0 8px #b1b2b3,
					 0 0 16px #b1b2b3,
					 0 0 24px #b1b2b3,
					 0 0 32px #f56a6a,
					 0 0 56px #f56a6a,
					 0 0 64px #f56a6a,
					 0 0 76px #f56a6a,
					 0 0 90px #f56a6a;
	}
	to {
		text-shadow: 0 0 4px #b1b2b3,
                     0 0 8px #b1b2b3,
                     0 0 12px #b1b2b3,
                     0 0 16px #f56a6a,
                     0 0 24px #f56a6a,
                     0 0 30px #f56a6a,
                     0 0 36px #f56a6a,
                     0 0 45px #f56a6a;
	}
}
#nav .logo {
    display: inline;
    float: left;
    margin-left: 1em;
    border-bottom: 0;
    text-shadow: 3px 3px 1px #212121,
                0px 0px 5px #d1d1d1;
    font-family: "Jua","Roboto Slab", serif;
    font-size: 2.5em;
}
#icon_box {
    overflow: hidden;
}
#icon_box:after {
    content: "";
    display: block;
    clear: both;
}
#nav .icons {
    float: right;
    text-align: center;
    font-weight: 600;
    margin-right: 25px;
}
#nav .icons a {
    border: none;
    font-family: "Jua","Roboto Slab", serif;
    font-weight: 300;
    font-size: 18px;
}
#nav .region {
    min-width: 40%;
    max-width: 70%;
    margin: 10px 0 0 320px;
}
#nav .region a {
    border: none;
}
#nav .region li{
    display: inline;
    margin: 0 4% 0 4%;
    font-size: 1.5em;
	transition: all 0.4s;
	animation: neon 2.5s ease-in-out infinite alternate;
}
#nav ul.region li:hover {
    font-size: 1.8em;
}
#clicked a{
    color: #f56a6a;
}
/*container*/

#container{
    overflow: hidden;
    position: relative;
    border: 1px solid #b1b2b3;
    background-color: #212121;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

/*section*/

#section{
    overflow: hidden;
    position: relative;
    float: left;
    border-left: 2px solid #f56a6a;
    border-right: 2px solid #f56a6a;
    padding: 40px 60px 0 60px;
    width: 1100px;
    min-height: inherit;
}
#section p{
    line-height: 1.7em;
    width: 650px;
    margin-bottom: 10px;
}
#section h1,h2,h3,h4,h5,h6 {
    padding-bottom: 10px;
}
#header_article{
    margin-bottom: 10px;
}
#header_article .article_title{
    padding-bottom: 24px;
    border-bottom: 2px solid #f56a6a;
}
article h4 {
    margin-top: 60px;
}
.content_title {
    border-bottom: 1px solid #f56a6a;
    margin: 1.2em 0 0.8em;
    padding-bottom: 5px;
}
#con_foot {
    position: relative;
    margin-top: 50px;
    height: 120px;
}
.foot_title {
    border-bottom: 1px solid #f56a6a;
    margin-bottom: 20px;
}
.foot_link {
    font-size: 24px;
    border-bottom: 1px solid;
}
.foot_link:hover {
    color: #d54a4a;
}
#libox {
    border: 1px solid #b1b2b3;
    width: 450px;
    height: 180px;
}
/*aside*/
#aside {
    width: 480px;
    padding: 70px 10px 0 20px;
    float: left;
    position: relative;
}
#aside_title {
    margin-bottom: 15px;
}
.map {
    filter: grayscale(0.2);
    box-shadow: 2px 2px 30px rgba(140, 140, 140, 0.5);
    border: 2px solid #ffffff;
    height: 354px;
 }
/*nav-control*/

.nav-control{
    position: fixed;
    margin: 0 0.2rem 1rem 0;
    right: 1px;
    bottom: 1px;
    z-index: 1035;
}
.nav-control li{
    float:left;
    opacity: .6;
    margin-right: .2rem;
}
.nav-control li:hover{
    opacity:.9
}
.nav-control li a{
    border: 0;
}

/*footer*/

#footer{
    background-color: #101010;
    margin-top: 15px;
    border-top: 1px solid #b1b2b3;
    padding-top: 10px;
    height: 8em;
    position: relative;
    bottom: 0px;
}
#address{
    float: left;
    margin: 40px 0 10px 20px;
    padding-left: 10px;
}