@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Serif+KR&display=swap');
* {
    box-sizing: border-box; 
}
body, fieldset, h1, h2, h3, h4, h5, h6,
input, legend, p, table, td, th, ol, ul, li, img{
    margin: 0px;
    padding: 0;
    border: 0px;
    font: inherit;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block; 
}
body{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    color: #fafbfc;
    background-color: #101010;
}
h1, h2, h3, h4, h5, h6 {
    color: #feeeee;
    font-weight: 700;
    line-height: 1.3;

}
h1{
    font-size: 3.5em;
}
h2 {
    font-size: 2.9em; }
  
h3 {
    font-size: 2.4em; }
  
h4 {
    font-size: 1.8em; }
  
h5 {
    font-size: 1.4em; }
  
h6 {
    font-size: 0.9em; }
ol,ul{
    list-style: none;
}
ul li {
    padding-left: 0.5em;
}
#ConList li{
    margin: 0 0 15px 35px;
    font-size: 16px;
}
a {
    border-bottom: dotted 1px;
    color: #fafbfc;
    text-decoration: none;
}
    a:active {
        border-bottom-color: #f56a6a;
        color: #f56a6a !important; 
    }


/*icons*/

ul.icons {
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding: 0 0.5em 0 0.5em; 
    border-right: 2px solid #212121;
}
ul.icons li:last-child {
    padding-right: 0; 
    border-right: 0;
    margin-right: 10px;
}
#_list {
    margin: 10px 0 0 10px;
}

/*image*/
img{
    border-radius: 0.375em;
    border: 0;
    display: inline-block;
    position: relative;
}
.img_main{
    max-width: 570px;
    box-shadow: 1px 1px 5px #a1a2a3;
    margin: 0.5rem 0 1em 0;
    z-index: 2;
}
.box1 { /*기본 박스*/
    width: 800px;
    height: 440px;
    position: relative;
}
.box2 { /*좀더 큰*/
    width: 800px;
    height: 630px;
    position: relative;
}
.box3 { /*세로로 긴*/
    width: 800px;
    height: 425px;
    position: relative;
}
.box4 { /*중간사이즈*/
    width: 800px;
    height: 480px;
    position: relative;
}
.box5 { /*중간사이즈2*/
    width: 800px;
    height: 540px;
    position: relative;
}
.box6 { /*작은사이즈*/
    width: 800px;
    height: 280px;
    position: relative;
}
.imgpos{
    position: absolute;
    width: 400px;
    border: 1px solid #a1a2a3;
}
/*map image*/

#imghd {
    position: relative;
    width: inherit;
    overflow: hidden;
}
#mapbox {
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 305px;
    float: right;
    border: 2px solid #fafbfc55;
    border-radius: 10px;
}
#img_map {
    position: absolute;
    width: 240px;
    height: 303px;
    z-index: 1;
    transition: all 1.5s;
}
#mapbox[name="hukuoka"]:hover #img_map{
    transform: scale(2);
    top: -200px;
    right: -140px;
}
#mapbox[name="osaka"]:hover #img_map {
    transform: scale(2);
    top: -150px;
    right: -50px;
}
/*wrap*/

#wrap{
    height: 100%;
}
#wrap > #inner {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #b1b2b3;
    border-bottom: 0;
    }

/*header*/

#header_main{
    margin: 0 auto;
    border-bottom: solid 8px #f56a6a;
    padding: 24em 0 4em 0;
    position: relative;
    background-image: url(./images/bg_header_japan.png);
    background-repeat: no-repeat;
    background-size: cover ;
}
#header_content{
    margin: 0 auto;
    border-bottom: solid 5px #f56a6a;
    padding: 10em 0 1.5em 0;
    position: relative;
    
}
#header_bg {
    background-image: url(./images/bg_header_japan.png);
    background-repeat: no-repeat;
    background-size: cover ;
    width: 100%;
    height: 14em;
    position: absolute;
    filter: blur(3px);
}
header .logo {
    margin-left: 2em;
    border-bottom: 0;
    color: #212121;
    font-family: "Jua","Roboto Slab", serif;
    font-size: 2.5em;
}
header .icons {
    float: right;
    text-align: center;
    font-weight: 600;
    background-color: #b1b2b377;
    margin-right: 20px;
}
header .icons a {
    border: none;
    font-family: "Jua","Roboto Slab", serif;
    font-weight: 300;
    font-size: 18px;
}
/*container*/

#container{
    overflow: hidden;
    position: relative;
    background-color: #212121;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}
/*nav*/

#nav{
    float: left;
    position: relative;
    width: 320px;
    padding-top: 25px;
    font-family: 'Jua', sans-serif;
    font-size: 1.1em;
}
#nav > ul > li{
    margin: 0 30px 0 10px;
    font-size: 2.5em;
    padding: 10px 0 8px 0.5em;
    border-bottom: 2px solid #f56a6a;
}
/*neon effect*/
@keyframes neon {
	from {
		text-shadow: 0 0 5px #b1b2b3,
					 0 0 9px #b1b2b3,
					 0 0 13px #b1b2b3,
					 0 0 19px #f56a6a,
					 0 0 25px #f56a6a,
					 0 0 32px #f56a6a,
					 0 0 42px #f56a6a,
					 0 0 56px #f56a6a;
	}
	to {
		text-shadow: 0 0 3px #b1b2b3,
                     0 0 6px #b1b2b3,
                     0 0 9px #b1b2b3,
                     0 0 12px #f56a6a,
                     0 0 16px #f56a6a,
                     0 0 20px #f56a6a,
                     0 0 24px #f56a6a,
                     0 0 28px #f56a6a;
	}
}
#nav ul.region a {
    border: none;
    font-size: 1.3em;
}
#nav ul.region li{
    margin-top: 18px;
    padding: 5px 0 5px 35px;
	transition: all 0.5s;
	animation: neon 2.5s ease-in-out infinite alternate;
}
#nav ul.region li:hover {
    font-size: 1.3em;
}
#clicked {
    font-size: 1.3em;
}
#clicked a{
    color: #f56a6a;
}
/*section*/

#section{
    overflow: hidden;
    position: relative;
    float: left;
    border-left: 2px solid #f56a6a;
    border-right: 2px solid #f56a6a;
    padding: 25px 40px 0 40px;
    width: 900px;
    min-height: inherit;
}
#section p{
    line-height: 1.7em;
    width: 650px;
    margin-bottom: 10px;
}
#section h1,h2,h3,h4,h5,h6 {
    padding-bottom: 10px;
}
#header_article{
    margin-bottom: 10px;
}
#header_article .article_title{
    padding-bottom: 24px;
    border-bottom: 2px solid #f56a6a;
}
.content_title {
    border-bottom: 1px solid #f56a6a;
    margin: 1.2em 0 0.8em;
    padding-bottom: 5px;
}
#libox {
    border: 1px solid #b1b2b3;
    width: 450px;
    height: 180px;
}
/*aside*/
#aside {
    width: 375px;
    padding: 70px 10px 0 10px;
    float: left;
    position: relative;
}
#aside_title {
    margin-bottom: 15px;
}
.map {
    filter: grayscale(0.2);
    box-shadow: 2px 2px 30px rgba(140, 140, 140, 0.5);
    border: 2px solid #ffffff;
 }
/*nav-control*/

.nav-control{
    position: fixed;
    margin: 0 0.2rem 1rem 0;
    right: 1px;
    bottom: 1px;
    z-index: 1035;
}
.nav-control li{
    float:left;
    opacity: .6;
    margin-right: .2rem;
}
.nav-control li:hover{
    opacity:.9
}
.nav-control li a{
    border: 0;
}

/*footer*/

#footer{
    background-color: #101010;
    border-top: 1px solid #b1b2b3;
    padding-top: 10px;
    height: 8em;
    position: relative;
    bottom: 0px;
}
#address{
    float: left;
    margin: 40px 0 10px 20px;
    padding-left: 10px;
}